.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  background-color: #333; /* Dark background color */

  p {
    font-family: system-ui;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9); /* Light text color */
    font-size: 20px;
  }
}
