.search-users {
  width: 40%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  background-color: #2b2b2b; /* Dark background color */

  .close-icon {
    margin-left: -30px;
    color: #c0c0c0; /* Light gray color for the close icon */
  }

  input {
    width: 100%;
    height: 30px;
    background-color: #333; /* Dark background color */
    border: 1px solid #555; /* Slightly lighter border color */
    border-radius: 10px;
    color: #eee; /* Light text color */
    padding-left: 10px;
    font-size: 14px;
    outline: none;
    font-family: Inter;
  }

  input:focus {
    border: 1px solid #707070;
  }

  ::placeholder {
    font-size: 14px;
    font-family: Inter;
    color: #c0c0c0; /* Light gray color for the placeholder text */
  }
}
